@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>


<address>
	325 S. 3rd Street<br />
	Renton, WA 98057<br />
	<abbr title="Phone">Phone:</abbr>
	206.488.3584
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:info@learncodinganywhere.com">info@learncodinganywhere.com</a>
</address>